.excluir_albuns input[type="checkbox"],
.excluir_albuns input[type="checkbox"] {
    display: none;
}

span.titulo {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    min-width: 48px;
    position: relative;
    display: inline-block;
}

@media (max-width: 400px) {
    span.titulo {
        display: none;
    }
}

.excluir_albuns .col-md-4 span.form-control {
    overflow: hidden;
    font-size: 16px;
}

body {
    padding-bottom: 70px;
    overflow-y: scroll;
}

.row .col-md-1 .input-group,
.row .col-md-2 .input-group,
.row .col-md-3 .input-group,
.row .col-md-4 .input-group,
.row .col-md-5 .input-group,
.row .col-md-12 .input-group,
.row .col-md-6 .input-group {
    margin-bottom: 5px;
    margin-left: 12px;
}

.col-centered{
    text-align: center;
}
#cantina_predefinida input[type="radio"] {
    display: none;
}

#cantina_predefinida .btn{
    margin-bottom: 5px;
}

.btn.btn-primary .glyphicon.glyphicon-remove,
.btn.btn-primary span.titulo {
    color: #ffffff !important;
}
.btn.btn-primary:hover .glyphicon.glyphicon-remove,
.btn.btn-primary:hover span.titulo {
    color: #999999 !important;
}

#departamentos input,
#departamentos input{
    margin: 2px 0;
}

.pagination-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.cover.btn.btn-default {
    margin: 7px 0 0 0;
    background: #cccccc;
    height: 100px;
    width: 100%;
    background-size: cover;
}

textarea {
    min-height: 100px;
}
@media (max-width: 991px) {
    .cover.btn.btn-default {
        height: 130px;
    }
    textarea {
        min-height: 130px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

#novo_departamento {
    border-radius: 4px;
    border: 1px solid #cccccc;
}

#departamentos .panel-heading div.btn,
#departamentos .panel-heading button,
#departamentos .panel-heading a{
    margin-top: -25px;
}

#departamentos .panel-heading div.btn input{
    display: none;
}

#departamentos input[type="file"].inserted{
    display: none;
}

@media (max-width: 600px) {
    #departamentos .panel-heading div.btn .titulo,
    #departamentos .panel-heading a .titulo{
        display: none;
    }
}

.input-group a,
.input-group a {
    text-decoration: none;
}

#departamentos .panel-group .panel.panel-primary .anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

#departamentos .panel-group .panel.panel-primary .input-group,
#novo_departamento .input-group {
    float: left;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #cccccc;
}

div.anchor {
    content:"";
    position: relative;
    top: -60px;
}