:root {
    --main-bg-color: #B9FF43;
    --main-txt-color: #ADFF35;
    --main-animation-duration: 1s;
    --main-animation-duration-fast: 0.5s;
}

@font-face {
    font-family: hm;
    src: url('../assets/font/HelveticaNeueLTPro-Roman.otf');
}

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: hm,"Helvetica Neue",Helvetica,"Open Sans","Open-sans",arial,"Lucida Grande",sans-serif;
}

.animation {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.qr {
    z-index: 1999999;
    height:300px;
    width: 300px;
    top:905px;
    left:75px;
    position: fixed;
    border-radius: 20px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/qr.svg');
    background-size: 90%;
    font-size: 40px;
    color: #333333;
    text-align: center;
}

.qr.qrclose {
    border-radius: 0;
    background-color: transparent;
    background-position: top left;
    height: 50px;
    width: 50px;
}

.qr .title {
    position: fixed;
    top: 300px;
    left: -1000px;
    opacity: 1;
    width: 1000px;
    font-size: 30px;
    color: #ffffff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.qr .go {
    position: fixed;
    top:750px;
    left: -1000px;
    opacity: 1;
    width: 600px;
    font-size: 45px;
    color: #ffffff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.content {
    background-color: #B9FF43;
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    box-shadow: 0 0 50px #666666;
    z-index: 1000;
}

.logo {
    width: 160px;
    height: 220px;
    background-image: url('../assets/img/logo_ac.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: fixed;
    left: 880px; /* calc(50% - 80px) */
    top: 430px; /* calc(50% - 110px) */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index: 1100;
}

.logo .green {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    background-image: url('../assets/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.ponto {
    color: #ffffff;
    font-size: 36px;
    position: fixed;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.noticia {
    position: fixed;
    width: 800px;
    height: 1080px;
    top: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.hand {
    position: fixed;
    animation-name: hand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: url(../assets/img/hand.svg);
    width: 120px;
    height: 120px;
    top: 450px;
    z-index: 9999999;
}

@keyframes hand {
    0% {
        opacity:0;
        left: 1200px;
    }
    30% {
        opacity:0;
        left: 1200px;
    }
    55% {
        opacity:1;
    }
    70% {
        opacity:1;
    }
    80% {
        opacity:0;
        left: 700px;
    }
    100% {
        opacity:0;
        left: 700px;
    }
}

.album {
    position: fixed;
}
.noticia .inner,.album .inner {
    height: 100%;
    box-shadow: 0 0 50px #666666;
    background-color: #ffffff;
    position: relative;
    animation-name: card;
    animation-duration: 2.5s;
    background-size: cover;
    background-position: center;
}
.album .inner {
    box-shadow: 0 0 50px #000000;
}
.album.center {
    top: 270px;
    height: 540px;
}
.album.top, .album.bottom{
    height: 270px;
}
.album.top {
    top: 0;
}
.album.bottom {
    top: 810px;
}

@keyframes card {
    0% {
        opacity: 0;
        left: -100px;
    }
    50% {
        opacity: 0;
        left: -100px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.noticia .image {
    overflow: hidden;
    max-height: 500px;
}

.noticia .image img {
    width: 100%;
}
.noticia .title {
    width: calc(100% - 100px);
    padding: 25px 50px;
    font-size: 43px;
    color: #ADFF35;
}

.noticia .info {
    position: relative;
    width: calc(100% - 100px);
    padding: 0 50px 25px 50px;
    font-size: 26px;
    color: #000;
    line-height: 35px;
}

.ementa .cantina {
    position: fixed;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

}
.ementa .image {
    width: 800px;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 50px #000000;
    animation-name: card;
    animation-duration: 2.5s;

}
#c0 .info:before,
#c1 .info:before,
#c2 .info:before {
    display: block;
    position: absolute;
    top: 30px;
    left: 300px;
    content: "";
    color: #555555;
    font-size: 32px;
}
#c0 .info:before {
    content: "Cantina de Santiago";
}
#c1 .info:before {
    content: "Refeitório do Crasto";
}
#c2 .info:before {
    content: "Snack-Bar";
}
#c0 .image {
    background-image: url('../assets/img/edificios/cantina_santiago.jpg');
}
#c1 .image {
    background-image: url('../assets/img/edificios/cantina_crasto.jpg');
}
#c2 .image {
    background-image: url('../assets/img/edificios/snack_bar.jpg');
}
.ementa .info {
    background-color: #ffffff;
    position: fixed;
    left: 300px;
    top: 550px;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 24px;
    color: #666666;
    opacity: 0;
    /*
    animation-name: fadein;
    animation-duration: 1.4s;
    animation-delay: -1s;*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#sem_info {
    color: #ff8776;
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 225px;
    left: 470px;
    text-align: center;
    display: block;
    background: #fff;
    font-size: 32px;
}
.ementa table.week {
    color: #ADFF35;
    font-size: 36px;
    padding: 36px 0;
}
.ementa table td {
    width: 270px;
}
.ementa table .title {
    width: 200px;
    text-align: center;
    color: #ADFF35;
    font-size: 36px;
}
.ementa table .type {
    width: 200px;
}

.ementa .whitebar {
    position: fixed;
    left: 300px;
    top: 500px;
    height: 580px;
    width: 1620px;
    z-index: 400;
    opacity: 0;
    background-color: #ffffff;
    animation-name: fadeout;
    animation-duration: 4s;
    animation-delay: -0.1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.albumStack {
    position: fixed;
    z-index: 500;
}

.albumStack .background {
    background-image: url(../assets/img/edificios/reitoria.jpg);
    width: 1620px;
    position: fixed;
    height: 1080px;
    top: 0;
    left: 300px;
    background-size: cover;
    background-position: center;
    animation-name: goin;
    animation-duration: 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;

}

@keyframes goin {
    0% {
        opacity: 0;
        width: 1134px;
        height: 756px;
        top: 162px;
        left: 543px;
    }
    100% {
        opacity: 1;
        width: 1620px;
        height: 1080px;
        top: 0;
        left: 300px;
    }
}

.albumStack .stack {
    top: 950px;
    left: 370px;
    height: 100px;
    width: auto;
    position: fixed;
    z-index: 510;

}

.albumStack .stack .item {
    height: 100%;
    width: 100px;
    position: relative;
    display: inline-block;
    background-image: url(../assets/img/edificios/reitoria.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 50px #000000;
    z-index: 510;
    animation-name: card;
    animation-duration: 2.5s;
}

.albumStack .selected {
    height:86px;
    width: 86px;
    position: fixed;
    top: 950px;
    left: 370px;
    border: 7px solid #D3FA41;
    z-index: 540;
    animation-name: fadein;
    animation-duration: 2.5s;
    animation-delay:-0.1s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.paint {
    z-index: 0;
}

.color {
    position: fixed;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 880px;
    box-shadow: 0 0 50px #999;
}
.subtitle {
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    width: 250px;
    height: 90px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 100px;
    left: 80px;
}

.subtitle div {
    color: #ADFF35;
    font-size: 26px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    position :absolute;
    top: 0;
    left: 550px;
    right: 0;
    bottom: 0;
    height: 1080px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast
}

.mapa {
    position: fixed;
    width: 1620px;
    height: 1080px;
    top: 0;
    left: 300px;
    display: none;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.departamento {
    width: 80px;
    height:auto;
    position: fixed;
    background-color: #333333;
    border: 3px solid #ddd;
    color: #ffffff;
    font-size: 16px;
    padding: 1px 4px;
}

.departamento:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 6px 0 6px;
    border-color: #333333 transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.departamento:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 10px 0 10px;
    border-color: #ddd transparent transparent transparent;
    position: absolute;
    bottom: -30px;
    left: -3px;
}

.map_viewer {
    background-color: rgba(0,0,0,0.6);
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    z-index: 1000;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    display: none;
}
.map_viewer:before {
    content: "x";
    font-family: Arial, sans-serif;
    position: absolute;
    top: 110px;
    right: 430px;
    border: 4px solid #ffffff;
    box-shadow: 0 0 10px #333;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 30px;
    color: #ffffff;
    border-radius: 50px;
    z-index: 9999;
    text-align: center;
    background: #666666;
}
.map_viewer .viewer {
    width: 1000px;
    height: 800px;
    left: 460px;
    top: 140px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 20px #000000;
}
.map_viewer .viewer .cover{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.map_viewer .viewer .conteudo{
    font-size: 25px;
    padding: 30px;
}
.map_viewer .viewer .conteudo h1{
    font-size: 30px;
    font-weight: bold;
}

.saver {
    position: fixed;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    z-index: 999999;
    display: block;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/img/reitoria.jpg');
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.saver .gif {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 340px;
    left: 0;
    z-index: 1000010;
    display: block;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/img/saver.png');
    background-position: center;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

.saver .gif:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: -10px;
    z-index: 1000020;
    display: block;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/saver_wait.png');
    background-position: center;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    animation-name: saver;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes saver {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    99% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.loading_screen {
    display: block;
    position: fixed;
    width: 1920px;
    height: 1080px;
    background-color: #000000;
    z-index: 9999999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.loading_screen .text {
    display: block;
    position: fixed;
    font-size: 100px;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 380px;
    left: 783px;
}

.loading_screen .loading_animation span {
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    animation-name: loading_screen;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #ffffff;
    top: 540px;
    left: 915px;
}


@keyframes loading_screen {
    0% {
        transform: rotate(360deg);
        font-size: 100px;
    }
    50% {
        transform: rotate(180deg);
        font-size: 30px;
    }
    99% {
        transform: rotate(3deg);
        font-size: 98px;
    }
    100% {
        transform: rotate(0deg);
        font-size: 100px;
    }
}

@keyframes blink {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.3;
    }
}